/*Diseño fondo*/
body{
    background: linear-gradient(to bottom, #ffffff, #ffeafc, #ffd0e1, #ffbbad, #ffb370);
    margin: 0%;
    padding: 0%;
}

/*Diseño Encabezado*/
.header{
    background-color: rgb(255, 202, 167);
    margin: 5pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    flex: auto;
    justify-content: flex-start;
}
.header-name{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    left: 50%;
}

/*Diseño navegador principal*/
.nav-principal ul{
    background: #ffbbad;
    margin: 5pt;
    padding: 6pt;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-principal a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13pt;
    color: #1a0c00;
}

/*Diseño Contenido Principal*/
.main{
    display: flex;
    justify-content: space-between;
    width: auto;
}

/*Diseño Navegador Productos*/
.nav-producto ul{
    background: #ffded8;
    margin: 5pt;
    padding: 6pt;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
.nav-producto a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13pt;
    color: #1a0c00;
}

/*Diseño Contenedor de productos*/